{% extends 'base_site.html.twig' %}

{% block title %}
    {% if contact.id is not same as null %}
        {{ 'title.exist'|trans ~ ' - ' ~ contact.name }}
    {% else %}
        {{ 'title.new'|trans }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path('contact_list') }}" class="btn btn-primary mt-3">< {{ 'button.back'|trans }}</a>
        {% if contact.id is not same as null %}
            <h2 class="my-4">{{ 'title.exist'|trans }}&nbsp;-&nbsp;{{ contact.name }}</h2>
        {% else %}
            <h2 class="my-4">{{ 'title.new'|trans }}</h2>
        {% endif %}

        {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
        <div class="mx-auto">
            <div class="row mb-3">
                <div class="col-12 col-md-6">
                   {{ form_row(form.name) }}
                </div>
                <div class="col-12 col-md-6">
                    {{ form_row(form.surname) }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-md-6">
                    {{ form_row(form.email) }}
                </div>
                <div class="col-12 col-md-6">
                    {{ form_row(form.phone) }}
                </div>
            </div>
            {{ form_row(form.note) }}
            {{ form_row(form.submit, {noMargin: true}) }}
        </div>

        {{ form_end(form) }}

    </div>
{% endblock %}
